body {
    background-color: cadetblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.common {
    background-color: rgb(214, 224, 225);
    border: 2px solid white;
    position: absolute;
}

.header {
    top: 5px;
    Left: 5px;
    right: 5px;
    height: 100px;
}

.Leftmenu {
    top: 114px;
    left: 5px;
    width: 100px;
    bottom: 39px;
}

.rightmenu {
    top: 114px;
    right: 5px;
    width: 100px;
    bottom: 39px;
}

.mainbody {
    top: 114px;
    right: 114px;
    left: 114px;
    bottom: 39px;
}

.footer {
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 27px;
}
